.body{ font-family: 'El Messiri', sans-serif; font-size: 20px; background-image: url("/Image/backgound-img.jpeg"); color: black;}
.margin-box{margin:20px 20px;}
.absolute-wrapper{position: absolute; width: 100%;}

.body-bg{ background: url("/Image/backgound-img.jpeg"); min-height: 100%; min-width: 1024px; width: 100%; height: auto; position: fixed; top: 0;left: 0;}

.nav { font-weight: 500;}
.nav ul {text-align: center; width:100%; margin: 0;}
.nav ul li{display: inline-block; z-index: 3;}
.nav ul li a {color:#e8505b;; padding:20px; display: block;}