
.margin-box{margin:20px 20px;}
.margin-box-t{margin-top: 30px;}
body, html {height: 100%; margin: 0; font-family: 'El Messiri', sans-serif; font-size: 20px; font-weight: 500;}
 
.theme-dark{background-color: #2d4059;}
.theme-bright{background-color: #f6f5f5}
.theme-bg{background:url("/Image/background-2.jpeg"); transform: scale(1,1); position: relative;}
.body-size{height:400px;}


.nav { font-weight: 500; font-size: 20px; float: right;}
.nav ul {text-align: center; width:100%; margin:0;}
.nav ul li{display: inline-block;}
.nav ul li a {color: #16293E; padding-left:20px; display: block;}
.nav ul li a:hover{color: #EBA08D; text-decoration: none; transition: color .5s;}
.nav-first ul li a{ color: #EBA08D; font-size: 30px; margin: 0; padding: 0;}
.nav-first ul li a:hover{color: #16293E;}

.main{ font-size: 15px; position: absolute; bottom:-150px; left: 450px; background-color: #f6f5f5; color: #16293E; width: 750px; padding: 0;}
.main img {object-fit: cover; width:300px; height: 350px; transform:scale(1,1); float: right; margin-right:0;}
.main h2:first-child{ font-size: 30px; margin: 150px 0 0 100px;}
.main h2:last-child{font-size:20px; margin-left: 100px;}

.clear{ clear: both;}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .main-bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }