
.margin-box{margin:20px 20px;}
body, html {height: 100%; margin: 0; font-family: 'El Messiri', sans-serif; font-size: 20px; overflow-x: hidden;}
  
.body-bg {
    height: 100%; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.nav { font-weight: 500;}
.nav ul {text-align: center; width:100%; margin: 0;}
.nav ul li{display: inline-block; z-index: 3;}
.nav ul li a {color:#e8505b;; padding:20px; display: block;}


@media only screen and (max-width:760px){
.body-bg {
        height: 50%; 
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
    }